@model Digishop.Models.CategoryViewModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
</head>
<body>

    <h1>@ViewData["CategoryCreated"]</h1>

<h4>Categorie aanmaken</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               @* <label asp-for="CategoryID" class="control-label"></label>*@
                <input asp-for="CategoryID" hidden class="form-control" />
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" required/>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Maak aan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <table class="table">
        
        <tbody>
 </td>
            </tr>
            @if (Model.categories != null)
            {
                @foreach (var cvm in Model.categories)
                {
                    <tr>
                        <td>@cvm.CategoryName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        if (ViewBag.Message != null)
        {
                <div>
                    @ViewBag.Message
                </div>
        }
    }
   @* @if ((bool) ViewData["CategoryCreated"])
{
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Categorie Success</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>De ctegoeiw ia </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
} else {
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Categorie Fail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>De ctegoeiw ia </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
}
*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
