@model IEnumerable<ProductViewModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UFT-8" />
    <meta http-equiv="X-UA-Compatible" content=" IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digishop</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>

    <section id="header">
        <a href="#"><img src="images/LogoV2.png" class="logo" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Over Ons</a></li>
                <li><a href="">Contact</a></li>
                <li><a href=""><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="hero">
        <h4>Aanbieding</h4>
        <h2>Super lage prijzen</h2>
        <h1>Op bijna alle artikelen</h1>
        <p>Bespaar meer dan 70% op je volgende aankoop</p>
        <button>Bestel Nu</button>
    </section>

    <section id="feature" class="section-p1">
        <h2>De 6 zékerheden van Digishop</h2>
        <div class="box-container">
            <div class="fe-box">
                <img src="images/features/f1.png" alt="" />
                <h6>Gratis verzending</h6>
            </div>
            <div class="fe-box">
                <img src="images/features/f2.png" alt="" />
                <h6>Bestel online</h6>
            </div>
            <div class="fe-box">
                <img src="images/features/f3.png" alt="" />
                <h6>Euro's goedkoper</h6>
            </div>
            <div class="fe-box">
                <img src="images/features/f4.png" alt="" />
                <h6>Aanbiedingen</h6>
            </div>
            <div class="fe-box">
                <img src="images/features/f5.png" alt="" />
                <h6>Service met een glimlach</h6>
            </div>
            <div class="fe-box">
                <img src="images/features/f6.png" alt="" />
                <h6>24/7 Service</h6>
            </div>
        </div>

    </section>

    <section id="product1" class="section-p1">
        <h2>Uitgelichte Producten</h2>
        <p>Nieuw</p>
        <div class="pro-container">
                @foreach (ProductViewModel pvm in Model)
                {
                    <div class="pro">
                    <img src="@pvm.ProductImage" alt="" />
                    <div class="des">
                        <h5>@pvm.ProductName</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>€@pvm.ProductPrice</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>

                }
        </div>
    </section>

    <section id="banner" class="section-m1" >
        <h4>Tijdelijke Aanbiedingen</h4>
        <h2>Tot wel <span>70% korting</span> op alle muizen en toetsenborden</h2>
        <button class="normal">Ontdek meer</button>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="images/LogoV2.png" alt=""/>
            <h4>Contact</h4>
            <p><strong>Adres:</strong> Professor Goossenlaan 1</p>
            <p><strong>Telefoon nummer</strong>(+31) 64234378</p>
            <p><strong>Openingstijden</strong> 10:00 - 18:00, maandag tot en met zaterdag</p>
            <div class="follow">
                <h4>Volg ons ook op</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Informatie</h4>
            <a href="#">Over ons</a>
            <a href="#">Verzending</a>
            <a href="#">privacybeleid</a>
            <a href="#">Algemene Voorwaarden</a>
            <a href="#">Contact</a>            
        </div>

        <div class="col">
            <h4>Mijn account</h4>
            <a href="#">Inloggen</a>
            <a href="#">Winkelwagen</a>
            <a href="#">Wenslijst</a>
            <a href="#">Volg Mijn Bestelling</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
        <h4>Veilig betalen</h4>
        <img src="images/pay.png" alt="" />
        </div>
        <div class="copyright">
        <p>© 2022, Tech2 etc - HTML CSS Ecommerce Template</p>
        </div>
    </footer>

    <script src="~/js/site.js"></script>
</body>

</html>